<%= turbo_frame_tag "booking_#{booking.id}" do %>
  <li class="d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex align-items-center">
      <% if booking.flat.photos.attached? %>
        <%= image_tag booking.flat.photos.first, class: "rounded me-3", size: "50x50" %>
      <% else %>
        <%= image_tag "https://e7.pngegg.com/pngimages/2/738/png-clipart-two-question-marks-illustration-double-question-mark-icons-logos-emojis-question-marks.png", class: "rounded me-3", size: "50x50" %>
      <% end %>
      <div>
        <strong><%= booking.flat.name %></strong><br>
        <small>
          <%= booking.start_date.strftime("%b %d, %Y") %> - <%= booking.end_date.strftime("%b %d, %Y") %><br>
          Price: <%= formatted_booking_price(booking) %>
        </small>
      </div>
    </div>

    <div>
      <% if booking.en_attente_status? %>
        <%= button_to "Valider", validate_booking_path(booking), method: :patch, data: { turbo_stream: true }, class: "btn btn-sm btn-success" %>
        <%= button_to "Refuser", refuse_booking_path(booking), method: :patch, data: { turbo_stream: true }, class: "btn btn-sm btn-danger" %>
      <% elsif booking.validee_status? %>
        <span class="badge bg-success">Validée</span>
      <% elsif booking.refusee_status? %>
        <span class="badge bg-danger">Refusée</span>
      <% end %>
    </div>
  </li>
<% end %>
