
<li class="mb-3" id="flat_<%= flat&.id %>">
  <div class="flat-item d-flex justify-content-between align-items-center">
    <%= link_to flat, class: "text-decoration-none text-dark d-block w-100" do %>
      <div>
        <h5 class="mb-1"><%= flat.name %></h5>
        <p class="mb-0 text-muted"><%= flat.address %></p>
      </div>
    <% end %>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#flatModal<%= flat.id unless flat.new_record? %>">
        Update
      </button>
      <%= render partial: 'flats/modal', locals: { flat: flat }%>
      <%= link_to "Delete", flat, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this flat?" }, class: "btn btn-outline-danger" %>
    </div>
  </div>
</li>
