<div class="flat-booking-container mb-3">
  <div class="flat-card d-flex">
    <div class="flat-preview me-3">
      <% if booking.flat.photos.attached? %>
        <%= image_tag booking.flat.photos.first, class: "rounded", size: "60x60" %>
      <% else %>
        <%= image_tag "https://e7.pngegg.com/pngimages/2/738/png-clipart-two-question-marks-illustration-double-question-mark-icons-logos-emojis-question-marks.png", class: "rounded", size: "60x60" %>
      <% end %>
    </div>
    <div class="flat-booking-info">
      <h6 class="mb-1"><%= booking.flat.name %></h6>
      <small>
        <%= booking.start_date.strftime("%b %d, %Y") %> - <%= booking.end_date.strftime("%b %d, %Y") %><br>
        Price: <%= formatted_booking_price(booking) %>
      </small>
    </div>
  </div>
</div>
