<div class="container-home">
  <div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.prismic.io/jr-website%2Fe9e1c15b-5c8d-4efd-8f28-65bf368698c0_header_fiche_project_imgs_2560x720.jpg?auto=compress,format);">
    <div class="container-search">
  <%= form_with url: root_path, method: :get, local: true, class: "d-flex w-100 justify-content-center mb-4" do %>
    <div class="input-group" style="max-width: 600px;">
      <%= text_field_tag :query, params[:query], placeholder: "Search by address...", class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
  <h1>B&Bidon - Strass & Favelas - Low-cost lifestyle</h1>
</div>
     </div>
    <div class="row gap-4 justify-content-center pb-4 w-100">
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat), class: "card-home col-2 p-0" do %>
          <div class="card-category col-2", style="background-image: url('<%= cl_image_path(flat.photos[0].key, width: 600, height: 400, crop: :fill) if flat.photos.attached?%>');">
            <div class="card-content">
              <h2><%= flat.name %></h2>
              <p><%= truncate(flat.address, length: 15) %></p>
              <p><strong><%= flat.price %> €</strong> / nuit</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
