<div class="container p-4">
<h1 class="mb-3"><%= @flat.name %></h1>
  <div class="container-show">
    <%= render 'carrousel' %>
    <div class="row mt-5">
      <!-- Colonne gauche : Infos du logement -->
      <div class="col-md-7">
        <div class="card p-4 mb-4"style="border-radius: 8px">
          <h2>Stay at <%= @flat.user.name %>'s place</h2>
          <p class="text-muted">
            Superhost — Hosting for <%= time_ago_in_words(@flat.user.created_at).gsub("about ", "") %>
          </p>
          <hr class="my-3">
          <p><strong>Address:</strong> <%= @flat.address %></p>
          <hr class="my-3">
          <p><strong>About this accommodation:</strong> <%= @flat.description %></p>
          <hr class="my-3">
          <p><strong>What this place offers:</strong></p>
        <ul class="list-unstyled">
          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-bath fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Bathroom
          </li>

          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-bath fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Bathtub
          </li>

          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-wind fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Hair Dryer
          </li>

          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-broom fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Cleaning Supplies
          </li>

          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-capsules fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Shampoo
          </li>

          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-soap fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Body Soap
          </li>

          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-wifi fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Wifi
          </li>

          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-tv fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Television
          </li>

          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-fan fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Air Conditioning
          </li>
          <li>
            <span class="fa-stack fa-fw" style="font-size: 1.2em;">
              <i class="fa-solid fa-biohazard fa-stack-1x"></i>
              <i class="fa-solid fa-ban fa-stack-2x text-dark opacity-75"></i>
            </span>
            Carbon Monoxide Detector
          </li>
        </ul>
        </div>
      </div>

      <!-- Colonne droite : Formulaire de réservation -->
      <div class="col-md-5" style="border-radius: 8px">
          <div class="card p-4 position-sticky d-none d-md-block"
          data-controller="price"
          style="border-radius: 12px; top: 80px; z-index: 0;">
          <h4 class="card-show mb-3">Price per night: <%= @flat.price %> €</h4>
          <h4 class="card-show mb-3">Choose your period of stay</h4>
          <!-- Messages d'erreur -->
          <% if @booking.errors.any? %>
            <div class="alert alert-danger">
              <h5>Erreurs :</h5>
              <ul>
                <% @booking.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= simple_form_for [@flat, @booking] do |f| %>
            <%= f.input :range_date,
              as: :string,
              input_html: {
                required: true,
                data: {
                  controller: "datepicker",
                  mode: "range",
                  price_target: "rangeDate",
                  action: "change->price#update"
                }
              } %>
            <%= f.button :submit, value: 'Book now', class: 'btn btn-primary w-100 fw-bold text-white' %>
          <% end %>

          <h6 class="d-flex justify-content-center"><br>No amount will be debited at this time</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Carte en dessous -->
  <div class="row mt-5">
    <div class="col-12">
      <div class="position-relative">
        <%= tag.div id: "map",
            class: "w-100",
            style: "height: 400px; border-radius: 12px; overflow: hidden;",
            data: {
              controller: "map",
              map_api_key_value: ENV['MAPBOX_API_KEY'],
              map_markers_value: @markers
            } %>
      </div>
    </div>
  </div>
</div>
