<div class="container p-4">
  <div class="container-show">
    <%= render 'carrousel' %>
    <div class="row mt-5">
      <!-- Colonne gauche : Infos du logement -->
      <div class="col-md-7">
        <div class="card p-4 mb-4">
          <h1 class="mb-3"><%= @flat.name %></h1>
          <p><strong>Adresse :</strong> <%= @flat.address %></p>
          <p><strong>Prix :</strong> <%= @flat.price %> € / nuit</p>
          <p><strong>Description :</strong> <%= @flat.description %></p>
        </div>
      </div>

      <!-- Colonne droite : Formulaire de réservation -->
      <div class="col-md-5">
        <div class="card p-4" data-controller="price">
          <h4 class="mb-3">Réserver</h4>
          <%= simple_form_for [@flat, @booking] do |f| %>
            <%= f.input :range_date,
            as: :string,
            input_html: { data: { controller: "datepicker", mode: "range" } } %>
            <%= f.button :submit, value: 'réserver', class: 'btn btn-primary w-100'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
