<h1>BnBidon</h1>
<p>Le bidon qu'il vous faut</p>

<% @flats.each do |flat| %>
  <div class="flat">
    <h2><%= flat.name %></h2>
    <p><%= flat.address %></p>
    <p>Price: <%= flat.price %> per night</p>
    <p>Description: <%= flat.description %></p>
    <img src="<%= flat.image_url %>" alt="<%= flat.name %> image" />
  </div>
<% end %>
