<div class="container-home">
  <div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.prismic.io/jr-website%2Fe9e1c15b-5c8d-4efd-8f28-65bf368698c0_header_fiche_project_imgs_2560x720.jpg?auto=compress,format);">
    <div class="container-search">
  <%= form_with url: root_path, method: :get, local: true, class: "d-flex w-100 justify-content-center mb-4" do %>
    <div class="input-group" style="max-width: 600px;">
      <%= text_field_tag :query, params[:query], placeholder: "Rechercher par adresse...", class: "form-control" %>
      <%= submit_tag "Rechercher", class: "btn btn-primary" %>
    </div>
  <% end %>
  <h1>B&Bidon - Strass & Favelas - Low-cost lifestyle</h1>
</div>
     </div>
     <div class="row gap-4 justify-content-center pb-4 w-100 container-home">
  <% @flats.each do |flat| %>
    <%= link_to flat_path(flat), class: "card-home col-2 p-0 text-decoration-none d-flex flex-column align-items-center" do %>
      <% image_url = flat.photos.attached? ? cl_image_path(flat.photos[0].key, width: 600, height: 400, crop: :fill) : "https://img.freepik.com/photos-premium/touristes-campent-tente-pres-feu-dans-foret-pres-du-lac_327483-6608.jpg?semt=ais_items_boosted&w=740" %>

      <div class="card-category <%= 'no-image' unless flat.photos.attached? %>" style="background-image: url('<%= image_url %>'); height: 240px; width: 100%; border-radius: $radius-md;"></div>

      <div class="card-content text-light bg-overlay px-3 py-2 small-text">
        <h2><%= flat.name %></h2>
        <p><%= truncate(flat.address, length: 30) %></p>
        <p><strong><%= flat.price %> €</strong> / nuit</p>
      </div>
    <% end %>
  <% end %>
</div>
  </div>
